/* research-hub.html's style */

.bg-map{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}

.title {
  border: 5px outset rgb(255, 255, 255);
  background-color: rgba(173, 230, 178, 0.5);    
  text-align: center;
  width: 500px;
  margin: auto;
  font-family: cursive;
  
}
